<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultiselectDownloadTable.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57A1E77D252B2E0B00E513B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A1E798252B2E0D00E513B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A1E7A3252B2E0D00E513B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
